{% extends 'base.html.twig' %}

{% block title %} Floppa - make your day better! {% endblock %}

{% block body %}
    <h1>  Welcome in Floppa site! </h1>

    {% if app.user %}

        <div style="height: 100px; font-size: 20px;">
            <p> Em? Really?! You are logged in {{ app.user.username }}  <a href="{{ path('/logout') }}"><button> Sign In Now! </button></a>
        </div>

    {% else %}

        <div style="height: 100px; font-size: 20px; color: #6d6a6e">
        <p> If you want create account, you must wait few days :) </p>
        </div>

        <div style="height: 100px; font-size: 20px;">
        <p> But... if you want sign in you can made it! <a href="{{ path('app_login') }}"><button> Sign In Now! </button></a>
        </div>

    {% endif %}

    <div>
        Some div for amazing content. Maybe I'll do it sometime.
    </div>

{% endblock %}
